<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>

    <div class="order-details">
      <h3>Order Details</h3>
      <hr/>

      <% @order.line_items.each do |line_item| %>
        <div class="line-item">
          <%= image_tag line_item.product.image.thumb.url, alt: line_item.product.name, class: 'line-item-image' %>
          <div class="line-item-details">
            <h4><%= line_item.product.name %></h4>
            <p><%= line_item.product.description %></p>
            <p>Quantity: <%= line_item.quantity %></p>
            <p>Total: <%= number_to_currency(line_item.total_price_cents / 100.0, strip_insignificant_zeros: true) %></p>
            <hr/>
          </div>
        </div>
      <% end %>

      <div class="order-summary-total">
        <p>Final Amount: <%= number_to_currency(@order.total_cents / 100.0, strip_insignificant_zeros: true) %></p>
      </div>

      <div class="order-email">
        <p>Email: <%= @order.email %></p>
      </div>
    </div>

  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
